<h1 class="text-center mt-5"><%= @user.username %></h1>
<%= gravator_for(@user,size: 300)%>
<h3 class="text-center mt-5">Articles</h3>
<div class="text-center mt-5">
    <%= link_to "Edit your profile",edit_user_path(@user),class: "btn btn-outline-info" %>
</div>
<%= render "articles/article" %>